@use "constants";
@use "mixins";

.authBox {
  text-align: center;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.authInfoInput {
  margin: 15px;

  input {
    width: 100%;
  }
}

.otherAuth {
  margin-bottom: 40px;

  a {
    font-weight: bold;
    color: constants.$themeColor3;
  }
}

.authSubmit {
  padding: 8px 40px;
  margin-top: 15px;
  font-size: 18px;
}